<div id="container">
  <p>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
            <ion-icon slot="start" aria-hidden="true" class="my-blue-text" size="large" name=""></ion-icon>
       <ion-icon slot="start" aria-hidden="true" class="my-blue-text" size="large" name=""></ion-icon>
        <ion-icon slot="start" aria-hidden="true" class="my-blue-text" size="large" name=""></ion-icon>
      <ion-icon slot="start" aria-hidden="true" class="my-blue-text" size="large" name="logo-whatsapp"></ion-icon>
    </a>

  
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
      <ion-icon slot="end" aria-hidden="true" class="my-blue-text" size="large" name="logo-instagram"></ion-icon>
    </a>
    
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
      <ion-icon slot="end" aria-hidden="true" class="my-blue-text" size="large" name="logo-facebook"></ion-icon>
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
      <ion-icon slot="end" aria-hidden="true" class="my-blue-text" size="large" name="logo-tiktok"></ion-icon>
    </a>
    <ion-icon slot="end" aria-hidden="true" class="my-blue-text" size="large" name=""></ion-icon>
  <br>
    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Atención virtual/domiciliaria integral & Pet Shop.</a>
<br>
<a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;infovetpet@proton.me</a>
</p>
</div>