<div id="container">
  <p>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
            <ion-icon slot="start" aria-hidden="true" class="my-blue-text" size="large" name=""></ion-icon>
       <ion-icon slot="start" aria-hidden="true" class="my-blue-text" size="large" name=""></ion-icon>
        <ion-icon slot="start" aria-hidden="true" class="my-blue-text" size="large" name=""></ion-icon>
      <ion-icon slot="start" aria-hidden="true" class="my-blue-text" size="large" name="logo-whatsapp"></ion-icon>
    </a>

  
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
      <ion-icon slot="end" aria-hidden="true" class="my-blue-text" size="large" name="logo-instagram"></ion-icon>
    </a>
    
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
      <ion-icon slot="end" aria-hidden="true" class="my-blue-text" size="large" name="logo-facebook"></ion-icon>
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
      <ion-icon slot="end" aria-hidden="true" class="my-blue-text" size="large" name="logo-tiktok"></ion-icon>
    </a>
    <ion-icon slot="end" aria-hidden="true" class="my-blue-text" size="large" name=""></ion-icon>
  <br>
  <a href="mailto:infovetpet@proton.me?subject=Consulta a INFOVETPET&body=Hola!, quería hacerles la siguiente consulta:">
  <p style="font-size: 10px; color: rgb(106, 27, 118);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;infovetpet@proton.me</p></a>
<br>
<p style="font-size: 20px; color: rgb(106, 27, 118);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Atención virtual/domiciliaria integral & Pet Shop.</strong>
</div>