<div id="container">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
      <ion-icon slot="start" aria-hidden="true" class="my-blue-text" size="small" name=""></ion-icon>
      <ion-icon slot="start" aria-hidden="true" class="my-blue-text" size="large" name="logo-whatsapp"></ion-icon>
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
      <ion-icon slot="end" aria-hidden="true" class="my-blue-text" size="large" name="logo-instagram"></ion-icon>
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
      <ion-icon slot="end" aria-hidden="true" class="my-blue-text" size="large" name="logo-facebook"></ion-icon>
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://infovetpet.github.io/go"
      >
      <ion-icon slot="end" aria-hidden="true" class="my-blue-text" size="large" name="logo-tiktok"></ion-icon>
    </a>
    <ion-icon aria-hidden="true" class="my-blue-text" size="small" name=""></ion-icon>
  <br>
<b><a class="centered-paragraph" style="font-size: 45px; color: rgb(110, 110, 230);">INFOVETPET</a></b>
<br>
<a class="centered-paragraph" style="font-size: 10px; color: rgb(110, 110, 230);">Atención virtual/domiciliaria integral & Pet Shop.</a>
<div slot="centered-paragraph">
  <a class="centered-paragraph" style="font-size: 15px;" href="mailto:infovetpet@proton.me?subject=Consulta a INFOVETPET&body=Hola!, quería hacerles la siguiente consulta:">infovetpet@proton.me</a>
</div>
</div>