<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b><a style="font-size: 15px; color: rgb(110, 110, 230);">ALIMENTOS</a></b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="img-responsive" src="assets/ivpfondofood.png" alt="INFOVETPET">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ALIMENTOS</ion-title>
    </ion-toolbar>
  </ion-header>
<app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>