<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CONSULTAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="img-responsive" src="assets/ivpfondocomuni.png" alt="INFOVETPET">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CONSULTAS</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
    <p>Bienvenido!

<br>
<ion-icon aria-hidden="true" name="logo-whatsapp"></ion-icon>
    a





    asdasd



<br>
<br>



<br>



<br>



    asdasd
<br>



<br>














<br>
<br>
<br>
    asd


    d
    








<br>
<br>
<br>

ACA EXPLICAMOS NUEVAMENTE LOS DETALLES DE COMO SE DEBEN COMUNICAR, SEGUN SI ES CONSULTA SOLO VIRTUAL O SI NECESITAN AGENDAR DOMICILIO, ETC

<BR>
  <br>
  ACÁ IRÍA EL BOTÓN QUE LLEVA A CONSULTA AL CELU (BOTÓN DE WHATSAPP)

<br>
<br>
<br>
  </p>
</ion-content>