<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b><a style="font-size: 15px; color: rgb(110, 110, 230);">AGENDAR VISITA</a></b>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img class="img-responsive" src="assets/ivpfondocomuni.png" alt="INFOVETPET">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AGENDAR VISITA</ion-title>
    </ion-toolbar>
  </ion-header>
<app-explore-container name="Tab 2 page"></app-explore-container>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-card>
<ion-card-header>
    <ion-card-title>ℹ️☎️ Días y horarios de atención telefónica:</ion-card-title>
    <ion-card-subtitle>
    </ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  🗓️ de <b><a style="font-size: 20px; color: rgb(110, 110, 230);">Lunes</a></b> a <b><a style="font-size: 20px; color: rgb(110, 110, 230);">Domingo</a></b>.<br>
  🕢 de <b><a style="font-size: 20px; color: rgb(110, 110, 230);">09.00 hs</a></b> a <b><a style="font-size: 20px; color: rgb(110, 110, 230);">19.00 hs</a></b>.
</ion-card-content>
</ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
<ion-card-header>
    <ion-card-title>ℹ️🚚 Días y horarios de reparto:</ion-card-title>
    <ion-card-subtitle>
    </ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  🗓️ de <b><a style="font-size: 20px; color: rgb(110, 110, 230);">Lunes</a></b> a <b><a style="font-size: 20px; color: rgb(110, 110, 230);">Domingo</a></b>.<br>
  🕢 de <b><a style="font-size: 20px; color: rgb(110, 110, 230);">09.00 hs</a></b> a <b><a style="font-size: 20px; color: rgb(110, 110, 230);">19.00 hs</a></b>.
</ion-card-content>
</ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>¿Procedimiento?💆‍♂️...¿¿Precios??💰</ion-card-title>
    <ion-card-subtitle>¡Todo muy fácil, rápido y económico!👇</ion-card-subtitle>
  </ion-card-header>
<ion-card-content>
<br>
Del contexto y del caso que se te presente con tu mascota, va a depender si tu consulta es resuelta de forma virtual, o si es necesario que un profesional veterinario se acerque a tu domicilio (<b><a style="font-size: 20px; color: rgb(110, 110, 230);">turno mediante</a></b>) coordinándolo en el mismo momento de la comunicación que tengamos con vos.<br>
<br>
En ese caso, el precio solo varía en función del tipo de atención:
<br>
<br>
<ion-card>
<ion-card-content>
<b><a style="font-size: 20px; color: rgb(110, 110, 230);">$ 5.000</a></b><br>para las atenciones virtuales.<br>
<b><a style="font-size: 20px; color: rgb(110, 110, 230);">$ 30.000</a></b><br> para las atenciones domiciliarias.
</ion-card-content>
</ion-card>
<br>
<ion-card>
<ion-card-content>
📵 Sin <b><a style="font-size: 20px; color: rgb(110, 110, 230);">llamadas</a></b> ni <b><a style="font-size: 20px; color: rgb(110, 110, 230);">audios</a></b>.<br>
<br>
🆗 Solo <b><a style="font-size: 20px; color: rgb(110, 110, 230);">texto</a></b>.<br>
<br>
ℹ️ Las consultas se cobran como atención profesional a distancia:<br>
<br>
💰 El valor de la consulta por WhatsApp es de: <b><a style="font-size: 20px; color: rgb(110, 110, 230);"><br>$ 5.000</a></b><br>
<br>
💰 El valor de la visita domiciliaria es de: <b><a style="font-size: 20px; color: rgb(110, 110, 230);"><br>$ 30.000</a></b><br>
<br>
💳 Nuestro alias bancario es: <b><a style="font-size: 20px; color: rgb(110, 110, 230);"><br>info.vet.pet</a></b><br>
<br>
📲 La consulta por WhatsApp es integral, ¡preguntá lo que se te ocurra y trataremos de ayudarte!<br>
<br>
💵 Una vez que nos confirmes el pago por este medio (<b><a style="font-size: 20px; color: rgb(110, 110, 230);">tené en cuenta que vamos a pedirte siempre un comprobante de transferencia</a></b>), ¡comenzamos a responderte!<br>
<br>
🧑‍⚕️ En el caso de que necesites una atención domiciliaria del veterinario, ¡avisanos en la misma consulta virtual para que se comunique a la brevedad y así coordinar la visita con vos!<br>
<br>
ℹ️ <b><a style="font-size: 20px; color: rgb(110, 110, 230);">El pago de la atención domiciliaria se realiza luego de finalizada la misma</a></b>.
</ion-card-content>
</ion-card>
</ion-card-content>
</ion-card>
</ion-content>
<ion-fab slot="fixed" vertical="top" horizontal="center">
  <ion-fab-button size="large" color="success" href="https://api.whatsapp.com/send/?phone=549&text=INFOVETPET Hola!, quiero agendar una visita:&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer">
  <ion-icon color="dark" name="logo-whatsapp"></ion-icon>
  </ion-fab-button>
</ion-fab>