<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CONSULTAS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img class="img-responsive" src="assets/ivpfondocomuni.png" alt="INFOVETPET">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CONSULTAS</ion-title>
    </ion-toolbar>
  </ion-header>
<app-explore-container name="Tab 2 page"></app-explore-container>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
<ion-card-header>
    <ion-card-title>ℹ️Horario de atención virtual:</ion-card-title>
    <ion-card-subtitle>
    </ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  🗓️ <b><a style="font-size: 15px; color: rgb(110, 110, 230);">Lunes</a></b> a <b><a style="font-size: 15px; color: rgb(110, 110, 230);">Domingo</a></b>.<br>
  ⏲️ de <b><a style="font-size: 15px; color: rgb(110, 110, 230);">09.00 hs</a></b> a <b><a style="font-size: 15px; color: rgb(110, 110, 230);">19.00 hs</a></b>.
</ion-card-content>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>¿Procedimiento?💆‍♂️...¿¿Precios??💰</ion-card-title>
    <ion-card-subtitle>👇</ion-card-subtitle>
  </ion-card-header>
<ion-card-content>
<br>
🔎Del contexto y el caso va a depender si tu consulta es resuelta de forma virtual, o si es necesario que un profesional veterinario se acerque a tu domicilio (con turno mediante) coordinandolo en el mismo momento de la comunicación con vos. En ese caso, el precio solo varía en función del tipo de atención:
<br>
<br>
<b><a style="font-size: 20px; color: rgb(110, 110, 230);">$ 5.000</a></b> para las atenciones solo virtuales.<br>
<b><a style="font-size: 20px; color: rgb(110, 110, 230);">$ 30.000</a></b> para las atenciones domiciliarias.
</ion-card-content>
</ion-card>
</ion-content>
<ion-fab slot="fixed" vertical="top" horizontal="center">
  <ion-fab-button color="success" href="https://api.whatsapp.com/send/?phone=5492214379493&text=INFOVETPET Hola! necesito ayuda&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer">
  <ion-icon color="dark" name="logo-whatsapp"></ion-icon>
  </ion-fab-button>
</ion-fab>