<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b><a style="font-size: 15px; color: rgb(110, 110, 230);">INICIO</a></b>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img class="img-responsive" src="assets/ivpfondo.png" alt="INFOVETPET">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">INICIO</ion-title>
    </ion-toolbar>
  </ion-header>
<app-explore-container name="Tab 1 page"></app-explore-container>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
<ion-card-header>
    <ion-card-title>ℹ️ Horario de atención virtual:</ion-card-title>
    <ion-card-subtitle>
    </ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  🗓️ de <b><a style="font-size: 20px; color: rgb(110, 110, 230);">Lunes</a></b> a <b><a style="font-size: 20px; color: rgb(110, 110, 230);">Domingo</a></b>.<br>
  🕢 de <b><a style="font-size: 20px; color: rgb(110, 110, 230);">09.00 hs</a></b> a <b><a style="font-size: 20px; color: rgb(110, 110, 230);">19.00 hs</a></b>.
</ion-card-content>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>¡Hola!👋</ion-card-title>
    <ion-card-subtitle>¡Gracias por visitarnos!</ion-card-subtitle>
  </ion-card-header>
<ion-card-content>
<br>
Con nosotros vas a encontrar todo lo que necesitás para el cuidado de tu <b><a style="font-size: 20px; color: rgb(110, 110, 230);">mascota</a></b>, desde tips de salud y nutrición, hasta alimentos, juguetes y nuestro principal servicio: <b><a style="font-size: 20px; color: rgb(110, 110, 230);">atención virtual y domiciliaria</a></b>.
<br>
<br>
Nuestro objetivo es brindarte ayuda profesional e información <b><a style="font-size: 20px; color: rgb(110, 110, 230);">confiable, precisa y actualizada</a></b> para que tu mascota siga contando con la mejor calidad de vida posible.
<br>
<br>
<ion-card>
<ion-card-header>
    <ion-card-title>ℹ️</ion-card-title>
</ion-card-header>
<ion-card-content>
Si están pasando por alguna situación que te preocupa (<b><a style="font-size: 20px; color: rgb(110, 110, 230);">y que la misma no requiere un tratamiento de urgencia</a></b>), podés contactarnos apretando el ícono flotante de WhatsApp que está situado en la parte superior, para que un profesional se comunique con vos al instante.
</ion-card-content>
</ion-card>
<br>
<ion-card>
<ion-card-header>
    <ion-card-title>ℹ️🙏</ion-card-title>
</ion-card-header>
<ion-card-content>
Es importante que sepas que <b><a style="font-size: 20px; color: rgb(110, 110, 230);">NO aceptamos llamadas ni audios</a></b>. Las mismas se encuentran bloqueadas a cualquier número sin excepción (es decir, cualquier intento de llamado va a ser rechazado automáticamente por nuestro sistema, tanto por línea directa como por vía Internet/WhatsApp); <b><a style="font-size: 20px; color: rgb(110, 110, 230);">en cuanto a los audios, no los reproduciremos</a></b>, por eso <b><a style="font-size: 20px; color: rgb(110, 110, 230);">te pedimos encarecidamente que sigas esta regla al pie de la letra</a></b>, ya que es la única forma de evitar conversaciones desprolijas y lograr ofrecerte el servicio de calidad que te merecés.<br>
<br>
<b><a style="font-size: 20px; color: rgb(110, 110, 230);">Creemos firmemente que la información precisa y clara solo se logra textualmente</a></b> (como en cualquier conversación de chat, registros de Salud, etc), y que no solo sirve para guiar al cliente y/o al profesional en el momento de la atención, sino también para poder lograr los registros precisos que necesitamos en cada caso, <b><a style="font-size: 20px; color: rgb(110, 110, 230);">muy difícil de lograr en una llamada telefónica (incluyendo audios)</a></b>.
</ion-card-content>
</ion-card>
<br>
Para obtener <b><a style="font-size: 20px; color: rgb(110, 110, 230);">información relevante sobre las consultas</a></b>, dirigite directamente a su sección (o apretá <b><a href="/tabs/tab2" style="font-size: 20px; color: rgb(110, 110, 230);">acá</a></b>).
<br>
<br>
En el caso de que quieras comentarnos o sugerirnos algo, contás con la botonera superior donde están todas nuestras redes sociales, incluyendo nuestro mail: <b><a href="mailto:infovetpet@proton.me?subject=Consulta a INFOVETPET&body=Hola!, quería hacerles la siguiente consulta/sugerencia:" style="font-size: 20px; color: rgb(110, 110, 230);">infovetpet@proton.me</a></b> (¡apretá en el mismo para que se abra automáticamente tu app de correo favorita!).
<br>
<br>
¡Sentite libre de explorar nuestro sitio y descubrí todo lo que <b><a style="font-size: 20px; color: rgb(110, 110, 230);">INFOVETPET</a></b> tiene para ofrecerte, a vos y a tus <b><a style="font-size: 20px; color: rgb(110, 110, 230);">fieles compañer@s</a></b>!
</ion-card-content>
</ion-card>
</ion-content>
<ion-fab slot="fixed" vertical="top" horizontal="center">
  <ion-fab-button size="large" color="success" href="https://api.whatsapp.com/send/?phone=5492214379493&text=INFOVETPET Hola! necesito:&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer">
  <ion-icon color="dark" name="logo-whatsapp"></ion-icon>
  </ion-fab-button>
</ion-fab>

