<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b><a style="font-size: 15px; color: rgb(110, 110, 230);">INICIO</a></b>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img class="img-responsive" src="assets/ivpfondo.png" alt="INFOVETPET">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">INICIO</ion-title>
    </ion-toolbar>
  </ion-header>
<app-explore-container name="Tab 1 page"></app-explore-container>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-card>
<ion-card-header>
    <ion-card-title>ℹ️☎️ Días y horarios de atención telefónica:</ion-card-title>
    <ion-card-subtitle>
    </ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  🗓️ de <b><a style="font-size: 20px; color: rgb(110, 110, 230);">Lunes</a></b> a <b><a style="font-size: 20px; color: rgb(110, 110, 230);">Domingo</a></b>.<br>
  🕢 de <b><a style="font-size: 20px; color: rgb(110, 110, 230);">09.00 hs</a></b> a <b><a style="font-size: 20px; color: rgb(110, 110, 230);">19.00 hs</a></b>.
</ion-card-content>
</ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
<ion-card-header>
    <ion-card-title>ℹ️🚚 Días y horarios de reparto:</ion-card-title>
    <ion-card-subtitle>
    </ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  🗓️ de <b><a style="font-size: 20px; color: rgb(110, 110, 230);">Lunes</a></b> a <b><a style="font-size: 20px; color: rgb(110, 110, 230);">Domingo</a></b>.<br>
  🕢 de <b><a style="font-size: 20px; color: rgb(110, 110, 230);">09.00 hs</a></b> a <b><a style="font-size: 20px; color: rgb(110, 110, 230);">19.00 hs</a></b>.
</ion-card-content>
</ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>¡Hola!👋</ion-card-title>
    <ion-card-subtitle>¡Gracias por visitarnos!</ion-card-subtitle>
  </ion-card-header>
<ion-card-content>
<br>
Con nosotros vas a encontrar todo lo que necesitás para el cuidado de tu <b><a style="font-size: 20px; color: rgb(110, 110, 230);">mascota</a></b>, desde tips de salud y nutrición, hasta alimentos, juguetes y nuestro principal servicio: <b><a style="font-size: 20px; color: rgb(110, 110, 230);">atención domiciliaria integral</a></b>.
<br>
<br>
Nuestro objetivo es brindarte ayuda profesional junto con información <b><a style="font-size: 20px; color: rgb(110, 110, 230);">confiable, precisa y actualizada</a></b> para que tu mascota siga contando con la mejor calidad de vida posible.
<br>
<br>
<ion-card>
<ion-card-header>
    <ion-card-title>ℹ️🩺</ion-card-title>
</ion-card-header>
<ion-card-content>
Si tu mascota y vos están pasando por alguna situación que te preocupa (<b><a style="font-size: 20px; color: rgb(110, 110, 230);">y que la misma no requiere un tratamiento de urgencia</a></b>), podés contactarnos apretando el ícono flotante de WhatsApp que está situado en la parte superior, para que un profesional se comunique con vos al instante y puedas pactar una cita en tu domicilio con nuestros veterinarios.
</ion-card-content>
</ion-card>
<br>
<ion-card>
<ion-card-header>
    <ion-card-title>ℹ️📵</ion-card-title>
</ion-card-header>
<ion-card-content>
Es importante que sepas que <b><a style="font-size: 20px; color: rgb(110, 110, 230);">NO aceptamos llamadas</a></b> a nuestro número de contacto general (el que figura en este sitio, tanto por línea directa como por vía Internet/WhatsApp). Las mismas se encuentran bloqueadas <b><a style="font-size: 20px; color: rgb(110, 110, 230);">sin excepción</a></b>. Te pedimos encarecidamente que nos contactes textualmente y que intentes <b><a style="font-size: 20px; color: rgb(110, 110, 230);">seguir esta regla al pie de la letra</a></b>, ya que es la única forma de evitar conversaciones desprolijas y el mejor camino para que puedas obtener el servicio de calidad que te merecés. Luego de pactar la cita domiciliaria, vas a poder manejarte con el vete directamente a través de su número particular (en caso de que así lo requieran). Si se te complica muchísimo escribir, <b><a style="font-size: 20px; color: rgb(110, 110, 230);">podés enviarnos audios</a></b>.
</ion-card-content>
</ion-card>
<br>
Para <b><a style="font-size: 20px; color: rgb(110, 110, 230);">información relevante sobre las visitas domiciliarias</a></b>, dirigite directamente a su sección (o apretá <b><a href="/tabs/tab2" style="font-size: 20px; color: rgb(110, 110, 230);">acá</a></b>).
<br>
<br>
En el caso de que quieras comentarnos o sugerirnos algo, contás con la botonera superior donde están todas nuestras redes sociales, incluyendo nuestro mail (apretá en el mismo para que se abra automáticamente tu app de correo favorita).
<br>
<br>
¡Sentite libre de explorar nuestro sitio y descubrí todo lo que este perrito juguetón y el gatito mutante tienen para ofrecerte, a vos y a tus <b><a style="font-size: 20px; color: rgb(110, 110, 230);">fieles compañer@s</a></b>!
</ion-card-content>
</ion-card>
<ion-card>
</ion-card>
<ion-grid>
  <ion-row>
    <ion-col></ion-col>
   
      <ion-img
  src="../../assets/QRIVP.jpeg"
  alt="INFOVETPET"
></ion-img>
   
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-fab slot="fixed" vertical="top" horizontal="center">
  <ion-fab-button size="large" color="success" href="https://api.whatsapp.com/send/?phone=549&text=INFOVETPET Hola!, quiero agendar una visita:&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer">
  <ion-icon color="dark" name="logo-whatsapp"></ion-icon>
  </ion-fab-button>
</ion-fab>

