<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img class="img-responsive" src="assets/ivpfondo.png" alt="INFOVETPET">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">INICIO</ion-title>
    </ion-toolbar>
  </ion-header>
<app-explore-container name="Tab 1 page"></app-explore-container>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
<ion-card-header>
    <ion-card-title>ℹ️Horario de atención virtual:</ion-card-title>
    <ion-card-subtitle>
    </ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  🗓️ <b><a style="font-size: 15px; color: rgb(110, 110, 230);">Lunes</a></b> a <b><a style="font-size: 15px; color: rgb(110, 110, 230);">Domingo</a></b>.<br>
  ⏲️ de <b><a style="font-size: 15px; color: rgb(110, 110, 230);">09.00 hs</a></b> a <b><a style="font-size: 15px; color: rgb(110, 110, 230);">19.00 hs</a></b>.
</ion-card-content>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>¡Hola!👋</ion-card-title>
    <ion-card-subtitle>¡Gracias por visitarnos!</ion-card-subtitle>
  </ion-card-header>
<ion-card-content>
<br>
🔎Con nosotros vas a encontrar todo lo que necesitás para el cuidado de tu <b><a style="font-size: 15px; color: rgb(110, 110, 230);">mascota</a></b>, desde tips de salud y nutrición, hasta alimentos, juguetes y nuestro principal servicio: <b><a style="font-size: 20px; color: rgb(110, 110, 230);">atención virtual y domiciliaria</a></b>.
<br>
<br>
💕Nuestro objetivo es brindarte ayuda profesional e información <b><a style="font-size: 15px; color: rgb(110, 110, 230);">confiable, precisa y actualizada</a></b> para que tu mascota siga contando con la mejor calidad de vida posible.
<br>
<br>
ℹ️Si están pasando por alguna situación que te preocupa (<b><a style="font-size: 15px; color: rgb(110, 110, 230);">y que la misma no requiera un tratamiento de urgencia</a></b>), podés contactarnos apretando el ícono flotante de WhatsApp situado en la parte superior del sitio, para que un profesional se comunique con vos al instante. Para <b><a style="font-size: 15px; color: rgb(110, 110, 230);">información relevante a las consultas</a></b>, dirigite directamente a su sección (o apretá <b><a href="/tabs/tab2" style="font-size: 15px; color: rgb(110, 110, 230);">acá</a></b>).
<br>
<br>
¡Sentite libre de explorar nuestro sitio y descubrí todo lo que <b><a style="font-size: 15px; color: rgb(110, 110, 230);">INFOVETPET</a></b> tiene para ofrecerte, a vos y a tus <b><a style="font-size: 15px; color: rgb(110, 110, 230);">fieles compañer@s</a></b>!
</ion-card-content>
</ion-card>
</ion-content>
<ion-fab slot="fixed" vertical="top" horizontal="center">
  <ion-fab-button color="success" href="https://api.whatsapp.com/send/?phone=5492214379493&text=INFOVETPET Hola! necesito ayuda&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer">
  <ion-icon color="dark" name="logo-whatsapp"></ion-icon>
  </ion-fab-button>
</ion-fab>

